$spriteVersion : 3;

$colorWhiteText : #fff;
$colorDarkText : #555;
$colorLightText : #8c8c8c;
$colorDarkBackground : #362f2d;
$colorLightBackground : #fbfaf8;
$colorHover : #c7b299;
$colorButton : #998675;
$colorFilter : rgba(17, 17, 17, .7);
